@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cafe feliz 3</h1>
    @* <p>Navigate to:</p>
    <ul>
        <li><a asp-controller="Clientes" asp-action="Index">Clientes</a></li>
        <li><a asp-controller="Ciudades" asp-action="Index">Ciudades</a></li>
    </ul> *@
</div>
